/* ---------- Classlist ------------ */
.blue {
	color: blue;
}

.hulk {
	font-size: 30px;
}

.capture {
	border: 3px red solid;
}

.round {
	border-radius: 5px;
}

.bold {
	font-weight: bold;
}

.italicized {
	font-style: italic;
}

.blockhead {
	display: block;
}